<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{% if showLoginForm %}Connexion{% else %}Création de compte{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <card class="center-card">
        <h1>{% if showLoginForm %}Authentification{% else %}Création de compte{% endif %}</h1>


        {% if showLoginForm %}

        <form method="post" action="{{ url_for('authentifier') }}">
            <label><span class="label-name">Login</span>
                <input type="text" name="name" required>
            </label>
            <label><span class="label-name">Mot de passe</span>
                <input type="password" name="password" required>
            </label>
            <button type="submit">Se connecter</button>
        </form>

        <p>
            <a href="{{ url_for('register') }}">Créer un compte</a>
        </p>

        {% else %}

        <form method="post" action="{{ url_for('register') }}">
            <label><span class="label-name">Nom</span>
                <input type="text" name="name" required>
            </label>
            <label><span class="label-name">Email</span>
                <input type="email" name="email" required>
            </label>
            <label><span class="label-name">Mot de passe</span>
                <input type="password" name="password" required>
            </label>
            <button type="submit">Créer un compte</button>
        </form>

        <p>
            <a href="{{ url_for('login') }}">Retour à la connexion</a>
        </p>
        {% endif %}
    </card>
    {# zone pour les messages #}
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    {% if success %}
    <p class="success">{{ success }}</p>
    {% endif %}
</body>

</html>