<div class="questionnaire-view-container">
    <!-- En-tête du questionnaire -->
    <header class="questionnaire-header">
        <h2 class="questionnaire-title">Titre</h2>

        <div class="questionnaire-meta">
            <div class="meta-item">
                <span class="meta-label">Sujets :</span>
                <span class="meta-value">*</span>
            </div>

            <div class="meta-item">
                <span class="meta-label">Usages :</span>
                <span class="meta-value">*</span>
            </div>

            <div class="meta-item">
                <span class="meta-label">Créé le :</span>
                <span class="meta-value">*</span>
            </div>

            <div class="meta-item">
                <span class="meta-label">Modifié le :</span>
                <span class="meta-value">*</span>
            </div>
        </div>

    </header>

    <!-- Liste des questions dans un tableau -->
    <div class="card-container">
        <card class="scroll-card" id="questionnaire-questions-card">


            <table id="questionnaireQuestionsTable">
                <thead>
                    <tr>
                        <th id="number">#</th>
                        <th id="id">ID</th>
                        <th id="question">Question</th>
                        <th id="actions">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </card>


    </div>
</div>